.App {
  background-color: #000000;
  min-height: 100vh;
}

// #outlined-basic-label {
//   color: white;
// }

// .MuiInputBase-root {
//   border-color: white;
// }

/* .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
} */
