.backdrop {
  position: absolute;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.94) 0%,
      rgba(0, 0, 0, 0.41) 100%
    );
    position: absolute;
    bottom: 0;
  }
  .img-backdrop {
    width: 100%;
    height: 100vh;
  }
}
