.card {
  // width: 18rem;
  text-align: center;
  color: white;
  &:hover {
    cursor: pointer;
    color: rgb(134, 134, 134);
  }

  .card-img-wraper {
    overflow: hidden;
    img {
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .card-body {
    // white-space: normal;
    .card-title {
      overflow: hidden;
    }
  }
}
